// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

h1{
  margin:30px;
  font-family:verdana, arial, helvetica, sans-serif;
}

body{
  font-family:verdana, arial, helvetica, sans-serif;
  font-size:13px;
  line-height:18px;
  margin:33px;
  display:block;
}

div{
  display:block;
}

.notice{
  color:green;
}

table{
  display:table;
  box-sizing:border-box;
  border-collapse:separate;
  text-indent:initial;
  border-spacing:2px;
}

thead{
  display:table-header-group;
  vertical-align:middle;
}

tr{
  display:table-row;
  vertical-align:inherit;
}

tbody{
  display:table-row-group;
  vertical-align:middle;
}